/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  display: block;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  font-size: 14px;
}

.btn {
  display: block;
  width: 120px;
  background: #5E7F91;
  color: #f0f8ff;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity .3s;
}

.btn:hover {
  opacity: .8;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  /* outline: 2px solid red; */
  max-width: 800px;
}

/* animation */

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .5s, transform .5s;
}

.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.slide-from-right {
  transform: translateX(40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: 32px;
  color: #22577a;
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color .3s, box-shadow .3s;
  z-index: 1;
}

header.scrolled {
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

header img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 64px;
  transition: opacity .3s;
}

header img:hover {
  opacity: .8;
}

/* profile */

.profile {
  padding: 120px 0 24px;
}

.profile h1,
.profile h2,
.profile h3 {
  text-align: center;
}

.profile h1 {
  padding-bottom: 40px;
}

.profile h3 {
  padding-bottom: 16px;
}

.profile img {
  display: block;
  margin: 0 auto 16px;
  border-radius: 50%;
}

.profile a {
  margin: 16px auto;
}

.profile .desc {
  padding: 16px 32px;
}

/* skill */
.skill {
  background: #f0f8ff;
  padding: 40px 0;
  overflow: hidden;
}

.skill section {
  background: #fff;
  border-radius: 16px;
}

.skill h1 {
  padding-bottom: 40px;
  text-align: center;
}

.skill .pic {
  padding: 16px 0;
  text-align: center;
}

.skill h2,
.skill p {
  padding: 0 32px 16px;
}

.skill h2 {
  text-align: center;
}

.skill ul {
  list-style-type: disc;
  padding: 0 32px 16px 48px;
}

.skill a {
  color: #0000EE;
  text-decoration: underline;
  transition: opacity .3s;
  padding: 0 32px;
}

.skill a:hover {
  opacity: .5;
}

.skill section + section {
  margin-top: 16px;
}

/* works */

.works {
  padding: 40px 0;
}

.works h1,
.works h3,
.works p {
  text-align: center;
}

.works h1 {
  padding-bottom: 40px;
}

.works h3 {
  padding-bottom: 16px;
}

.works p {
  padding: 0 16px;
}

.works section {
  background: #f0f8ff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
}

.works section + section {
  margin-top: 16px;
}

.works img {
  display: block;
  margin: 8px auto;
  transition: opacity .3s;
}

.works img:hover {
  opacity: .8;
}

/* banner */

.banner {
  margin-top: 120px;
}

.banner a {
  text-decoration: underline;
  color: #0000EE;
}

/* last */

.last {
  background: #f0f8ff;
  padding: 40px 0;
  text-align: center;
}

.last h1 {
  padding-bottom: 40px;
}

.last a {
  color: #0000EE;
  text-decoration: underline;
  transition: opacity .3s;
}

.last a:hover {
  opacity: .6;
}

footer {
  background: #5E7F91;
  color: aliceblue;
  padding: 40px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  font-size: 14px;
}

footer a {
  transition: opacity .3s;
}

footer a:hover {
  opacity: .6;
}

footer li i {
  font-size: 24px;
}

footer ul {
  display: flex;
}

footer li + li {
  margin-left: 8px;
}

/* large screen */

@media(min-width:600px) {

  .profile .container {
    display: flex;
  }
  
  .profile .pic {
    width: 30%;
  }

  .profile .desc {
    width: 70%;
    padding: 0 32px 0 0 ;
  }

  .skill .pic {
    width: 40%;
  }

  .skill .desc {
    width: 60%;
  }

  .skill section {
    display: flex;
    gap: 16px;
    padding: 16px;
  }

  .skill h2 {
    text-align: left;
  }

  .skill ul {
    padding-bottom: 0;
  }

  .skill section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .works .container.works {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .works section + section {
    margin-top: 0;
  }

  .works section {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .animate.delay {
    transition-delay: .3s;
  }

  .animate.delay-more {
    transition-delay: .6s;
  }

}